.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    border: 3px solid #55868C;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: rgba(85, 134, 140, 0.5);
    color: #fff;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.imgEjemplo {
    width: 100%;
    object-fit: cover;
}

/* .parrafo {
    composes: title;
} */